@page "/rasters"
@inherits DemoBase

<div class="top-container">
    <h1 class="page-header">Markers</h1>
</div>

<div class="map-wrapper">
    <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
</div>

<div class="side-panel">
    <h3 class="header">Functionalities</h3>
    <SidePanelButton Label="add image overlay"
                     IconSrc="@Icons.MarkersAddMarkersIconSrc"
                     OnClick="async () => await AddImageOverlays()" />
    <SidePanelButton Label="remove image overlay"
                     IconSrc="@Icons.MarkersRemoveMarkersIconSrc"
                     OnClick="async () => await RemoveImageOverlays()" />
    <SidePanelButton Label="add image overlay with options"
                     IconSrc="@Icons.MarkersAddMarkersWithOptionsIconSrc"
                     OnClick="async () => await AddImageOverlayWithOptions()" />
    <SidePanelButton Label="remove image overlay with options"
                     IconSrc="@Icons.MarkersRemoveMarkersWithOptionsIconSrc"
                     OnClick="async () => await RemoveImageOverlayWithOptions()" />
</div>


<style>
    .side-panel {
        min-width: 400px;
        display: grid;
        grid-template-rows: minmax(3rem, 5rem) repeat(2, 150px);
        grid-template-columns: repeat(3, 1fr);
    }

        .side-panel .header {
            grid-column: 1/-1;
        }

        .side-panel .icon-wrapper .icon {
            height: auto;
        }
</style>